.App {
  text-align: center;
}

body {
	background-color: #FFF;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav-link {
	font-weight: bolder;
	color: #436026!important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.footerExtraBottomMargin {
	background-color: #FF7900;
	
}

.rowPadding {
	margin-bottom: 10px; 	
}

.btn {
	background-color: #FF7900!important;
	border-radius: 30px!important;
	border: none!important;
	color: white;
	font-weight: normal;
	font-family: sans-serif;
	text-align: center!important;
}

.card-title {
	font-weight: bolder;
	color: #436026;

}

.footerBottomBottomColor {
	background-color: #BF5B00!important;
}
.modal-dialog {
	max-width:700px!important;
}
.imageHalf{
width: 100%;	
}

.navbar-brand {
	width: 220px;
}

.navbar-collapse {
	margin-top: auto;
}
.navbar {
	    box-shadow: rgba(255, 255, 255, 0.15) 0px 1px 0px inset, rgba(0, 0, 0, 0.075) 0px 1px 5px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.coolNavTitle {
	padding: 5px;	
	margin-bottom: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
